<nav class="navbar navbar-expand-lg navbar-default fixed-top ">
  <a class="navbar-brand" href="#">Sun Blockchain Solutions</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span><i class="fa fa-bars"></i></span>
  </button>

<div class="collapse navbar-collapse " id="navbarSupportedContent">

    <ul class="navbar-nav ">
      <li class="nav-item ">
        <a class="nav-link" href="#">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Services</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#">Products</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#">Team</a>
      </li>
    </ul>
    
    
  </div>
  <div class="justify-content-end" >

    <ul class="navbar-nav ">
       <li class="nav-item"><a class="nav-link" href="http://twitter.com"><i class="fa fa-twitter"></i></a></li>
            <li  class="nav-item"><a class="nav-link" href="http://facebook.com"><i class="fa fa-facebook"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="http://google-plus.com"><i class="fa fa-google-plus"></i></a></li>
            <li class="nav-item"><a class="nav-link" href="http://linkedin.com"><i class="fa fa-linkedin"></i></a></li>
    </ul>
  </div>
  
</nav>
      

<div style="background-color:black">
 
 <particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>


</div>
 <div class="showcase" >
    <div class="container" >

   
      
 <div class ="page-header">
     


      <h1>Got An idea! Share with us.</h1>
    </div>
      <div class="lead">
    
      <p>We are here to help you in converting your blockchain idea in to a working system</p>
      </div>
      
   
    </div> <!-- /container -->

</div>
<div class="section-a">

  <div class="container ">
    

    <h1>Services</h1>
    <div class="row">
      <div class="col-md-4 col1 hidden ">
        <i class="fa fa-lightbulb-o"></i>
        <h1>Blockchain Consultancy</h1>
        
      </div>
       <div class="col-md-4 col2">
          <i class="fa fa-html5"></i>
        <h1>WhitePaper Writing</h1>
       
      </div>
       <div class="col-md-4">
          <i class="fa fa-gear"></i>
        <h1>Blockchain Development</h1>
        <p></p>
        
      </div>
    </div>
  </div>
</div>
<div class="section-b  ngsReveal">
  <div class="container">
    <div class="aos-item" aos="fade-up"  >
	 <h1> Element here</h1>

	</div>
    <div class="row">
      <div class="col-md-6 ">
    <div id="accordion">
  <div class="card">
    <div class="card-header" data-toggle="collapse" data-target="#collapseOne" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         Blockchain Consultancy
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
       Here content about Consultancy .
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header"  data-toggle="collapse" data-target="#collapseTwo" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          WhitePaper Writing
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        content about white paper writing
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" data-toggle="collapse" data-target="#collapseThree" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Blockchain Architecture and Development
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
       content about Development
      </div>
    </div>
  </div>
</div>
        
      </div>
       <div class="col-md-6 ">
         <img src="./../assets/sec2.jpeg"/>
        
      </div>
      
    </div>
  </div>
</div>



<div class="section-d">

  <div class="container">
    <h1 style="text-align:center">Projects</h1>
    <div class="row wall">
      <div class="col-md-4 ">
    <div class="card">
    <div class="card-header">
      <h4 class="mb-0">
        Land Registration on Blockchain.
      
        
      </h4>
    </div>
    
    <div class="card-body">
      Land registry on blockchain is one of the earliest use case of blockchain .We are working on it .
      </div>
        
      </div>
      </div>
      <div class="col-md-4 ">
      <div class="card">
    <div class="card-header">
      <h4 class="mb-0">
        Land Registration on Blockchain.
      
        
      </h4>
    </div>
  
    <div class="card-body">
      Land registry on blockchain is one of the earliest use case of blockchain .We are working on it .
      </div>
      </div>
      
      </div>
      <div class="col-md-4 ">
        <div class="card">
    <div class="card-header">
      <h4 class="mb-0">
        Land Registration on Blockchain.
      
        
      </h4>
    </div>
    <div class="card-body">
      Land registry on blockchain is one of the earliest use case of blockchain .We are working on it .
      </div>

        
      </div>
      </div>
    </div>
  </div>
</div>
<div class="team">

  <div class="container">
    <h1>Team</h1>
    <div class="row">
      <div class="col-md-3 col1">

       <img class="teamImg" src="./../assets/show.png">
       <h3>Vamsi Reddy</h3>
      <a class="nav-link" href="http://facebook.com"><i class="fa fa-linkedin"></i></a>

        
      </div>
       <div class="col-md-3 col2">
        <img class="teamImg" src="./../assets/show.png">
       <h3>Vamsi Reddy</h3>
       <a class="nav-link" href="http://linkedin.com"><i class="fa fa-linkedin"></i></a>
       
      </div>
       <div class="col-md-3 col3">
         <img class="teamImg" src="./../assets/show.png">
      
       <h3>Vamsi Reddy</h3>
      <a class="nav-link" href="http://linkedin.com"><i class="fa fa-linkedin"></i></a>
        
      </div>
       <div class="col-md-3 col4">
         <img class="teamImg" src="./../assets/show.png">
       <h3>Vamsi Reddy</h3>
<a class="nav-link" href="http://linkedin.com"><i class="fa fa-linkedin"></i></a>


       
       
        
      </div>
    
   
    </div>
  </div>
</div>
<div class="row">
<div class="col-md-12">
   <hr>
<h4>Contact us:</h4>
<br>
<h5>Phone:-</h5>
<br>
<h5>Email-:</h5>
</div>
</div>
